
body {
    font-family: 'Oswald', sans-serif !important;
  }
.navbartitulo{
    font-size: 22px;
    
}
.carousel .carousel-item {
    height: 500px;
   
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
  @media(min-width:768px) {
    .carousel .carousel-item {
        height: 600px;
      }
      
      .carousel-item img {
          position: absolute;
          object-fit:cover;
          top: 0;
          left: 0;
          min-height: 600px;
      }
  }