<<<<<<< HEAD
$colorgradiente:linear-gradient(90deg, rgba(0, 36, 2, 1) 35%, rgba(3, 62, 8, 1) 73%, rgba(3, 64, 9, 1) 76%, rgba(6, 37, 55, 1) 100%);
$gradientedemacia:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(7,53,150,1) 50%, rgba(6,68,160,1) 68%, rgba(0,212,255,1) 100%); 


$colors:(
    "dorado":#c9AA71 ,
    "gradiente":linear-gradient(90deg, rgba(0, 36, 2, 1) 35%, rgba(3, 62, 8, 1) 73%, rgba(3, 64, 9, 1) 76%, rgba(6, 37, 55, 1) 100%),
=======
$colorgradiente:linear-gradient(90deg, rgba(0, 36, 2, 1) 35%, rgba(3, 62, 8, 1) 73%, rgba(3, 64, 9, 1) 76%, rgba(6, 37, 55, 1) 100%);
$gradientedemacia:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(7,53,150,1) 50%, rgba(6,68,160,1) 68%, rgba(0,212,255,1) 100%); 


$colors:(
    "dorado":#c9AA71 ,
    "gradiente":linear-gradient(90deg, rgba(0, 36, 2, 1) 35%, rgba(3, 62, 8, 1) 73%, rgba(3, 64, 9, 1) 76%, rgba(6, 37, 55, 1) 100%),
>>>>>>> 76fe2f3b85ed05ca04ea1b4a6c7dcbb9da55b534
);