@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "_media.scss";
@import "_variables.scss";



*{
padding:0;
margin:0;
  
}
body {
  font-family: 'Oswald', sans-serif !important;
  
}

.itemLista{
  justify-content: center;
  align-self: center;
}
.barranav {
  background: $colorgradiente;
  @include pantalla990{
    
    height: 12vh;
   
   }
}

.imgBanner {
 padding-top: 8vh;
 height: 100vh;
 width: 100vw;
 @include pantalla990{
  padding-top: 14vh;
  
 }
}



.itemListaDemacia{

 background-color: $gradientedemacia;
}

.cardContainer{
  
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.textoAColor{
  color:  map-get($colors, "dorado");
  
 
}

h5{
  @extend .textoAColor
}

p{
  @extend .textoAColor
}



.carouselBanner {
  position: relative;
  text-align: left;
  color: white;
}


.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;

.navbartitulo {
  font-size: 200%;
}
.cardContainer{
  height: 500px;
}

.boton{
  
    width:200px;
    height:50px;
    background-color:black;
    text-align:center;
    color:black;
    border-radius:20px;
    border:1px solid black;
  }
 
  }